.banner {
  position: relative;
  text-align: center;

  &__container-bg {
    width: 100%;
  }

  &__logo {
    position: absolute;
    width: 100%;
    top: 2%;
    text-align: center;
    color: $white;
    font-size: 2.1rem;

    @media screen and (max-width: 600px) {
      font-size: 3.50vw;
    }
  }

  &__box {
    position: absolute;
    top: 3%;
    left: 37%;
    width: 168.24px;
    height: 229.2px;
    margin-top: 125px;

    @media screen and (max-width: 600px) {
      width: 28.04vw;
      height: 38.2vw;
      margin-top: 20.83vw;
    }
  }

  &__product {
    width: 100%;
  }

  &__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 146.42px;
    height: 146.42px;
    // line-height: 500px;
    border-radius: 50%;
    font-size: 1.4rem;
    font-family: $noto-serif;
    font-weight: $bold;
    color: #fff;
    text-align: center;
    background: #6A3906;
    position: absolute;
    top: 42%;
    left: 16%;

    @media screen and (max-width: 600px) {
      width: 24.40vw;
      height: 24.40vw;
      font-size: 2.33vw;
    }
  }

  &__text-big {
    position: absolute;
    top: 35%;
    left: 65%;
    line-height: 1.3;
    font-family: $noto-serif;
    font-size: 2.2rem;
    font-weight: $extrabold;

    @media screen and (max-width: 600px) {
      font-size: 3.66vw;
    }
  }

  &__text-small {
    position: absolute;
    top: 50%;
    left: 65%;
    line-height: 1.3;
    font-family: $noto-serif;
    font-size: 1.6rem;
    font-weight: $demibold;
    text-align: left;

    @media screen and (max-width: 600px) {
      font-size: 2.66vw;
    }
  }
}