.campaign {
  background-image: linear-gradient(to right, #421314, #6F4B26 20% , #B1954F, #FDF0C5 , #FDF0C5, #B19469, #A38358, #8D5429, #8D5429 );
  width: 100%;
  width: 100%;
  padding: 50px 0;
  margin-top: -5px;

  @media screen and (max-width: 600px) {
    margin-top: -0.83vw;
    padding: 7.33vw 0;
  }

  &__item-ribbon {
    background: url(../image/campaign-background.svg) no-repeat;
    background-position: center;
    background-size: contain;
    width: 409.77px;
    height: 360.61px;
    margin: 0 auto;
    position: relative;

    @media screen and (max-width: 600px) {
      width: 68.29vw;
      height: 60.10vw;
      // margin: 2.5vw 0 0 11.6vw;
      // transform: rotate(0.5deg);
    }
  }

  &__ribbon {
    background: url(../image/campaign-ribbon.svg) no-repeat;
    background-position: center;
    background-size: contain;
    width: 465px;
    height: 88.8px;
    left: -6%;
    top: 3%;
    // position: absolute;
    position: relative;
    z-index: 1;
    // margin: 15px 0 0 70px;
    // transform: rotate(1deg);

    @media screen and (max-width: 600px) {
      width: 77.50vw;
      height: 14.80vw;
      // margin: 2.5vw 0 0 11.6vw;
      // transform: rotate(0.5deg);
    }
  }

  &__ribbon-text {
    font-size: 4rem;
    font-weight: $bold;
  }

  &__col {
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    width: 276px;
    top: 23%;
    left: 15%;
    position: absolute;

    @media screen and (max-width: 600px) {
      width: 46vw;
    }
  }

  &__col2 {
    display: flex;
    flex-direction: column;
    padding-top: 18px;

    @media screen and (max-width: 600px) {
      padding-top: 3vw;
    }
  }


  &__black-title {
    font-family: $yumin;
    font-weight: $extrabold;
    font-size: 3.4rem;

    @media screen and (max-width: 600px) {
      font-size: 5.66vw;
    }
  }

  &__img-holder {
    width: 113px;
    height: 154px;
    margin-top: -8px;

    @media screen and (max-width: 600px) {
      width: 18.83vw;
      height: 25.66vw;
      margin-top: -1.33vw;
    }

    img {
      width: 100%;
    }
  }

  &__quantity {
    font-family: $yumin;
    font-weight: $demibold;
    font-size: 1.4rem;
    margin-bottom: 8px;
    margin-left: 22px;

    @media screen and (max-width: 600px) {
      font-size: 2.33vw;
      margin-bottom: 1.33vw;
      margin-left: 3.66vw;
    }
  }

  &__arrowdown {
    font-family: $yumin;
    font-weight: $demibold;
    font-size: 1.6rem;
    margin-left: 8px;
    margin-bottom: 7px;

    @media screen and (max-width: 600px) {
      font-size: 2.66vw;
      margin-left: 1.33vw;
      margin-bottom: 1.16vw;
    }
  }

  &__red-text {
    font-family: $mochi;
    font-size: 4rem;
    color: #E60012;
    margin-bottom: 7px;
    line-height: 1;

    @media screen and (max-width: 600px) {
      font-size: 6.66vw;
      margin-bottom: 1.16vw;
    }

    &--relative {
      position: relative;
      margin-bottom: 5px;

      @media screen and (max-width: 600px) {
        margin-bottom: 0.83vw;
      }
    }
  }

  &__yen {
    font-size: 2.7rem;

    @media screen and (max-width: 600px) {
      font-size: 4.50vw;
    }
  }

  &__small-text {
    font-family: $yugo;
    font-size: 1rem;
    font-weight: $demibold;
    position: absolute;
    left: 82%;
    color: $black;

    @media screen and (max-width: 600px) {
      font-size: 1.66vw;
    }
  }

  &__yellow-btn {
    background-image: linear-gradient(to right, #FCF9D0 50%, #F7F085 100%);
    width: 100%;
    height: 26.74px;
    font-family: $mochi;
    font-size: 2.3rem;
    color: #E60012;
    line-height: 1;
    border: 1px solid #e60012;
    border-radius: 25px;
    margin-top: -5px;
    margin-left: 5px;

    @media screen and (max-width: 600px) {
      height: 4.6vw;
      font-size: 3.83vw;
      margin-bottom: 1.16vw;
      border-radius: 4.16vw;
      margin-top: -0.83vw;
      margin-left: 0.83vw;
    }
  }

  &__green-btn {
    background: url(../image/campaign-green-btn.svg) no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    font-family: $noto;
    font-weight: $extrabold;
    font-size: 2.3rem;
    color: $white;
    line-height: 1;
    width: 273.25px;
    height: 42px;
    position: absolute;
    bottom: 18px;
    left: 72px;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 600px) {
      font-size: 3.83vw;
      width: 45.54vw;
      height: 7vw;
      bottom: 3vw;
      left: 12vw;
    }
  }

  &__cart-img {
    height: 40px;
    width: 50px;

    @media screen and (max-width: 600px) {
      height: 6.66vw;
      width: 8.33vw;
    }

    img {
      width: 100%;
    }
  }

  &__item {
    background: url(../image/campaign-bg-small.svg) no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
    position: relative;
    margin-top: 45px;
    height: 300px;
    width: 410px;

    @media screen and (max-width: 600px) {
      margin-top: 7.50vw;
      height: 50vw;
      width: 68.33vw;
    }

    .campaign__col {
      top: 10%;
      width: 288px;

      @media screen and (max-width: 600px) {
        width: 48vw;
      }
    }

    .campaign__img-holder {
      width: 131.52px;
      height: 154px;
      margin-top: -3px;
      margin-left: -8px;

      @media screen and (max-width: 600px) {
        width: 21.92vw;
        height: 25.66vw;
        margin-top: -0.50vw;
        margin-left: -1.33vw;
      }
    }

    .campaign__col2 {
      padding-top: 0;
    }

    .campaign__black-title {
      margin-left: -4px;
      
      @media screen and (max-width: 600px) {
        margin-left: -0.66vw;
      }
    }

    .campaign__quantity {
      margin-left: -2px;
      
      @media screen and (max-width: 600px) {
        margin-left: -0.33vw;
      }
    }

    .campaign__green-btn {
      width: 295.26px;
      left: 62px;
      bottom: 35px;

      @media screen and (max-width: 600px) {
        width: 49.21vw;
        left: 10.33vw;
        bottom: 5.83vw;
      }
    }
  }

  &__red-box {
    font-family: $mochi;
    font-size: 3rem;
    color: $white;
    background-color: #E60012;
    width: 159.46px;
    text-align: center;
    margin-bottom: 10px;

    @media screen and (max-width: 600px) {
      font-size: 5vw;
      width: 26.57vw;
      margin-bottom: 1.66vw;
    }
  }

  &--with-arrow {
    padding-bottom: 200px;

    @media screen and (max-width: 600px) {
      padding-bottom: 31.16vw;
    }
  }

  &--last {
    margin: 0;
    padding: 73.98px 0 48px;

    @media screen and (max-width: 600px) {
      padding: 12vw 0 8vw;
    }
  }
}