.customer-voice {
  background-color: #FFFFD2;
  padding: 28px 0 28px;

  @media screen and (max-width: 600px) {
    padding: 4.66vw 0 1vw;
  }

  .arrow__text {
    left: 23%;
  }

  .arrow__text-big {
    font-size: 6rem;

    @media screen and (max-width: 600px) {
      font-size: 10vw;
    }
  }

  &__bulleted {
    width: 260px;
    height: 485px;
    background: url(../image/bulleted.svg) no-repeat;
    background-position: right;
    background-size: cover;
    margin-top: -10px;
    display: inline-block;

    @media screen and (max-width: 600px) {
      width: 43.33vw;
      height: 80.83vw;
      margin-top: -1.66vw;
    }
  }

  &__text {
    font-family: $noto;
    font-weight: $bold;
    font-size: 2rem;

    @media screen and (max-width: 600px) {
      font-size: 3.33vw;
    }
  }

  &__list {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 6px;

    @media screen and (max-width: 600px) {
      margin-top: 3.33vw;
      margin-left: 1vw;
    }
  }

  &__item {
    margin-bottom: 30px;

    @media screen and (max-width: 600px) {
      margin-bottom: 5vw;
    }

    &:nth-child(4) {
      margin-bottom: 40px;

      @media screen and (max-width: 600px) {
        margin-bottom: 6.66vw;
      }
    }
  }
}