.heading {
  width: 100%;
  height: 160px;
  background: url(../image/heading-shadow.svg);
  background-position: bottom center;
  color: $white;

  @media screen and (max-width: 600px) {
    height: 26.6vw;
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $blue;
    white-space: nowrap;
    font-family: $yumin;
    font-weight: 500;
    font-size: 3.2rem;
    height: 135px;

    @media screen and (max-width: 600px) {
      font-size: 5.3vw;
      height: 22.5vw;
    }

    &--benefits {
      padding-left: 120px;

      @media screen and (max-width: 600px) {
        padding-left: 20vw;
      }
    }

    &--with-subheading {
      flex-direction: column;
    }
  }

  &--plain {
    background: none;
    color: $blue;
    height: auto;

    .heading__text {
      background-color: white;
      padding: 30px;
      height: auto;

      @media screen and (max-width: 600px) {
        padding: 3.5vw 0 4vw 0;
      }
    }
  }

  &__subheading {
    font-family: $yumin;
    font-weight: $demibold;
    font-size: 2.2rem;

    @media screen and (max-width: 600px) {
      font-size: 3.66vw;
    }
  }
}