.pr {
  position: relative;
  text-align: center;
  padding-bottom: 40px;

  @media screen and (max-width: 600px) {
    padding-bottom: 6.66vw;
  }

  @media screen and (max-width: 375px) {
    padding-bottom: 3.66vw;
  }

  &__container {
    width: 467.55px;
    height: 459.53px;
    margin: 0 auto;

    @media screen and (max-width: 600px) {
      width: 77.92vw;
      height: 76.58vw;
    }

    img {
      width: 100%;
    }
  }

  &__content {
    display: flex;
    position: absolute;
    top: 19%;
    padding: 30px 19px;
    justify-content: space-between;

    @media screen and (max-width: 600px) {
      padding: 5vw 3.16vw;
    }
  }

  &__title {
    font-family: $yumin;
    font-weight: $extrabold;
    font-size: 3.1rem;
    text-align: left;
    padding-bottom: 8px;

    @media screen and (max-width: 600px) {
      font-size: 5.16vw;
      padding-bottom: 1.33vw;
    }
  }

  &__white-box {
    width: 188.78px;
    height: 226.03px;
    background-color: $white;

    @media screen and (max-width: 600px) {
      width: 31.46vw;
      height: 37.67vw;
    }
  }

  &__col-text {
    font-family: $noto;
    font-size: 1.4rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 13;
    -webkit-box-orient: vertical;
    text-align: justify;

    @media screen and (max-width: 600px) {
      font-size: 2.33vw;
    }
  }

  &__col2 {
    padding: 0 15px;
    width: 235px;

    @media screen and (max-width: 600px) {
      padding: 0 2.50vw;
      width: 39.16vw;
    }
  }
}