.qa {
  margin-top: 50px;

  @media screen and (max-width: 600px) {
    font-size: 8.33vw;
  }

  &__list {
    width: 463.96px;
    margin: 0 auto;
    margin-top: 42px;

    @media screen and (max-width: 600px) {
      width: 77.32vw;
      margin-top: 4vw;
    }
  }

  &__item {
    border-bottom: 1px solid #BEBFBE;
    padding: 25px;

    &:last-child {
      border-bottom: none;
    }

    &:first-child {
      padding-top: 0;
    }

    @media screen and (max-width: 600px) {
      padding: 4vw 4.16vw 4vw 4.16vw;
    }
  }

  &__question {
    display: flex;
    align-items: center;
  }

  &__question-img {
    width: 19.24px;
  }

  img {
    width: 100%;
  }

  &__question-text {
    font-family: $yugo;
    font-weight: $bold;
    font-size: 2.4rem;
    color: $blue;
    padding-left: 15px;

    @media screen and (max-width: 600px) {
      font-size: 4vw;
      padding-left: 2.50vw;
    }
  }

  &__answer {
    display: flex;
    align-items: self-start;
  }

  &__answer-text {
    font-family: $yugo;
    font-family: $medium;
    font-size: 1.3rem;
    padding-left: 15px;
    width: 384.1px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    @media screen and (max-width: 600px) {
      font-size: 2.16vw;
      padding-left: 2.50vw;
      width: 64.01vw;
    }
  }
}