.survey {
  margin-top: -205px;

  @media screen and (max-width: 600px) {
    margin-top: -34.2vw;
  }

  &__item {
    display: flex;
    flex-direction: row-reverse;
    background: $white url(../image/right-img.png) no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding: 35px 27px;
    height: 321.5px;
    border-bottom: 3px solid #40220F;

    @media screen and (max-width: 600px) {
      height: 52vw;
      padding: 3.83vw 4.5vw 4.83vw;

      &:first-child {
        height: 54vw;
        padding: 5.83vw 4.50vw;
      }
      
    }

    &--reverse {
      background: $white url(../image/left-img.png) no-repeat;
      background-position: center;
      background-size: cover;
      flex-direction: row;
      padding: 25px 27px;

      @media screen and (max-width: 600px) {
        padding: 3.83vw 4.5vw;
      }
    }
  }

  &__text {
    text-orientation: upright;
    writing-mode: vertical-rl;
    font-family: $noto;
    font-weight: $bold;
    color: $white;
    font-size: 2.4rem;

    @media screen and (max-width: 600px) {
      font-size: 4vw;
    }
  }
}