.video {
  background-image: linear-gradient(to right, #421314, #6F4B26 20% , #B1954F, #FDF0C5 , #FDF0C5, #B19469, #A38358, #8D5429, #8D5429 );
  width: 100%;
  width: 100%;
  padding: 40px 0;

  @media screen and (max-width: 600px) {
    padding: 6.66vw 0;
  }

  &__yellow-ribbon {
    position: relative;
    text-align: center;
    width: 503px;
    height: 84.76px;
    margin: 0 auto;

    @media screen and (max-width: 600px) {
      width: 83.83vw;
      height: 14.11vw;
    }

    img {
      width: 100%;
    }
  }

  &__yellow-ribbon-text {
    position: absolute;
    font-family: $yumin;
    font-weight: $extrabold;
    font-size: 3.4rem;
    top: 13%;
    left: 18%;

    @media screen and (max-width: 600px) {
      font-size: 5.66vw;
    }
  }

  &__text {
    font-family: $noto-serif;
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;
    margin-top: -14px;

    @media screen and (max-width: 600px) {
      font-size: 3.66vw;
      margin-top: -2.33vw;
    }
  }

  &__img {
    width: 507px;
    margin: 0 auto;
    padding-top: 9px;

    @media screen and (max-width: 600px) {
      width: 84.50vw;
      padding-top: 1.50vw;
    }
  }

  img {
    width: 100%;
  }
}