@charset "UTF-8";
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5em;
}

html {
  height: 100%;
  font-size: 10px;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 300;
  color: #1b1311;
}
@media screen and (max-width: 600px) {
  html {
    font-size: 1.6vw;
  }
}

main {
  overflow: hidden;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.banner {
  padding-top: 15px;
  position: relative;
}
@media screen and (max-width: 600px) {
  .banner {
    padding-top: 2.5vw;
  }
}
.banner__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: #fff url(../image/water-splash.svg) no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 425px;
  padding: 10px 0 0 70px;
}
@media screen and (max-width: 600px) {
  .banner__wrapper {
    height: 70.8vw;
    padding: 1.6vw 0 0 11.6vw;
  }
}
.banner__text-wrapper {
  position: relative;
  z-index: 1;
}
.banner__text {
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-weight: 600;
  color: #002368;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-size: 3.5rem;
}
@media screen and (max-width: 600px) {
  .banner__text {
    font-size: 5.8vw;
  }
}
.banner__text--shadow {
  position: absolute;
  top: 0;
  z-index: -1;
  -webkit-text-stroke: 10px #fff;
}
.banner__product {
  width: 118px;
  height: auto;
  margin: 0 10px 0 35px;
}
@media screen and (max-width: 600px) {
  .banner__product {
    width: 19.6vw;
    margin: 0 1.6vw 0 5.8vw;
  }
}
.banner__right-wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.banner__circle-wrapper {
  display: flex;
  align-items: flex-end;
}
.banner__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url(../image/banner-circle.svg) no-repeat;
  background-size: contain;
  color: #fff;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  width: 130px;
  height: 130px;
}
@media screen and (max-width: 600px) {
  .banner__circle {
    width: 21.6vw;
    height: 21.6vw;
  }
}
.banner__circle-rating {
  font-weight: 900;
  font-size: 1.4rem;
}
@media screen and (max-width: 600px) {
  .banner__circle-rating {
    font-size: 2.3vw;
  }
}
.banner__circle-text {
  font-weight: 500;
  font-size: 0.7rem;
  line-height: 12px;
}
@media screen and (max-width: 600px) {
  .banner__circle-text {
    font-size: 1.1vw;
    line-height: 2vw;
  }
}
.banner__circle-count {
  font-weight: 900;
  font-size: 2.8rem;
  line-height: 30px;
}
@media screen and (max-width: 600px) {
  .banner__circle-count {
    font-size: 4.6vw;
    line-height: 5vw;
  }
}
.banner__circle-pieces {
  font-size: 1.4rem;
}
@media screen and (max-width: 600px) {
  .banner__circle-pieces {
    font-size: 2.3vw;
  }
}
.banner__circle-date {
  white-space: nowrap;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-weight: 600;
  font-size: 0.6rem;
  margin-left: -10px;
}
@media screen and (max-width: 600px) {
  .banner__circle-date {
    font-size: 1vw;
    margin-left: -1.6vw;
  }
}
.banner__bottom-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-weight: 900;
  text-align: left;
  margin: 0 auto 15px;
  font-size: 1.3rem;
  width: 418px;
  padding-top: 5px;
}
@media screen and (max-width: 600px) {
  .banner__bottom-text {
    margin-bottom: 2.5vw;
    font-size: 2.1vw;
    width: 69.6vw;
    padding-top: 0.8vw;
  }
}
.banner__logo-wrapper {
  position: absolute;
  width: 512px;
  margin: auto;
  top: 15px;
  right: 0;
  left: 0;
  text-align: right;
}
@media screen and (max-width: 600px) {
  .banner__logo-wrapper {
    width: 85.3vw;
    top: 2.5vw;
  }
}
.banner__logo {
  font-weight: 500;
  font-size: 2.1rem;
}
@media screen and (max-width: 600px) {
  .banner__logo {
    font-size: 3.5vw;
  }
}

.campaign {
  padding: 0 20px;
}
@media screen and (max-width: 600px) {
  .campaign {
    padding: 0 5vw;
  }
}
.campaign__item:not(:last-child) {
  margin-bottom: 25px;
}
@media screen and (max-width: 600px) {
  .campaign__item:not(:last-child) {
    margin-bottom: 4.1vw;
  }
}
.campaign__item--sm .campaign__title {
  text-align: left;
  padding: 0;
  line-height: 2.5rem;
}
@media screen and (max-width: 600px) {
  .campaign__item--sm .campaign__title {
    line-height: 4.5vw;
  }
}
.campaign__item--sm .campaign__content-middle {
  justify-content: flex-start;
  margin-top: 7px;
}
@media screen and (max-width: 600px) {
  .campaign__item--sm .campaign__content-middle {
    margin-top: 1.1vw;
  }
}
.campaign__item--sm .campaign__circle {
  margin: 0;
}
.campaign__item--sm .campaign__sale-price {
  font-size: 4.2rem;
  padding-left: 5px;
}
@media screen and (max-width: 600px) {
  .campaign__item--sm .campaign__sale-price {
    font-size: 7vw;
    padding-left: 0.8vw;
  }
}
.campaign__item--sm .campaign__yen {
  font-size: 2.2rem;
  line-height: 2.2rem;
}
@media screen and (max-width: 600px) {
  .campaign__item--sm .campaign__yen {
    font-size: 3.6vw;
    line-height: 3.6vw;
  }
}
.campaign__item--sm .campaign__tax {
  font-size: 0.8rem;
}
@media screen and (max-width: 600px) {
  .campaign__item--sm .campaign__tax {
    font-size: 1.3vw;
  }
}
.campaign__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.campaign__bottle {
  width: 125px;
}
@media screen and (max-width: 600px) {
  .campaign__bottle {
    width: 20.8vw;
  }
}
.campaign__bottle-img {
  width: 100%;
  height: auto;
}
.campaign__content {
  padding-left: 15px;
}
@media screen and (max-width: 600px) {
  .campaign__content {
    padding-left: 2.5vw;
  }
}
.campaign__crown {
  display: inline-block;
  position: relative;
  background: url(../image/left.svg) no-repeat, url(../image/right.svg) no-repeat;
  background-size: contain;
  background-position: left center, right center;
  text-align: center;
}
.campaign__crown-text {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-weight: 900;
  font-size: 2.2rem;
  padding: 0 20px;
}
@media screen and (max-width: 600px) {
  .campaign__crown-text {
    font-size: 3.6vw;
    padding: 0 5vw;
  }
}
.campaign__crown-img {
  position: absolute;
  top: -36%;
  width: 15.38px;
  height: auto;
}
@media screen and (max-width: 600px) {
  .campaign__crown-img {
    width: 2.5vw;
  }
}
.campaign__title {
  text-align: center;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-weight: 900;
  font-size: 2.5rem;
  padding-top: 5px;
}
@media screen and (max-width: 600px) {
  .campaign__title {
    font-size: 4.1vw;
    padding-top: 0.8vw;
  }
}
.campaign__title span {
  font-size: 1.3rem;
  font-weight: 500;
}
@media screen and (max-width: 600px) {
  .campaign__title span {
    font-size: 2.1vw;
  }
}
.campaign__content-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.campaign__price {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-weight: 500;
  white-space: nowrap;
  text-align: center;
  font-size: 1.3rem;
}
@media screen and (max-width: 600px) {
  .campaign__price {
    font-size: 2.1vw;
  }
}
.campaign__sale-price {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  color: #002368;
  font-weight: 900;
  font-size: 2.8rem;
}
@media screen and (max-width: 600px) {
  .campaign__sale-price {
    font-size: 4.6vw;
  }
}
.campaign__unit-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.campaign__tax {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-weight: 500;
  font-size: 0.6rem;
}
@media screen and (max-width: 600px) {
  .campaign__tax {
    font-size: 1vw;
  }
}
.campaign__yen {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-weight: 900;
  color: #002368;
  font-size: 1.4rem;
  line-height: 1.4rem;
}
@media screen and (max-width: 600px) {
  .campaign__yen {
    font-size: 2.3vw;
    line-height: 2.3vw;
  }
}
.campaign__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../image/campaign-circle.svg) no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
  margin-left: 5px;
}
@media screen and (max-width: 600px) {
  .campaign__circle {
    width: 8.3vw;
    height: 8.3vw;
    margin-left: 0.8vw;
  }
}
.campaign__circle-text {
  font-weight: 700;
  color: #fff;
  font-size: 1.4rem;
  line-height: 1.8rem;
}
@media screen and (max-width: 600px) {
  .campaign__circle-text {
    font-size: 2.3vw;
    line-height: 3vw;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  width: 100%;
  height: 85px;
  border-bottom: 1px solid rgba(7, 3, 4, 0.3);
}
@media screen and (max-width: 600px) {
  .header {
    height: 14.1vw;
  }
}
.header__text {
  font-weight: 500;
  font-size: 2rem;
  padding: 0 55px;
}
@media screen and (max-width: 600px) {
  .header__text {
    font-size: 3.3vw;
    padding: 0 9.1vw;
  }
}
@media screen and (min-width: 768px) {
  .header__text {
    margin: 0 auto;
    max-width: 800px;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #002368;
  height: 56px;
  margin-top: 50px;
}
@media screen and (max-width: 600px) {
  .footer {
    height: 9.3vw;
    margin-top: 8.3vw;
  }
}
.footer__copyright {
  color: #fff;
  font-weight: 500;
  font-size: 1.4rem;
}
@media screen and (max-width: 600px) {
  .footer__copyright {
    font-size: 2.3vw;
  }
}

.button {
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  background: url(../image/button.svg);
  background-size: cover;
  background-position: bottom center;
  color: #fff;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-weight: 900;
  margin: 7px auto 0;
  font-size: 1.7rem;
  width: 175px;
  height: 43px;
}
@media screen and (max-width: 600px) {
  .button {
    margin-top: 1.1vw;
    font-size: 2.8vw;
    width: 29.1vw;
    height: 7.1vw;
  }
}

.wave {
  background: #fff url(../image/wave-s.svg) no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 100%;
  height: 86px;
  margin-bottom: 45px;
}
@media screen and (max-width: 600px) {
  .wave {
    height: 14.3vw;
    margin-bottom: 7.5vw;
  }
}

.heading {
  width: 100%;
  height: 160px;
  background: url(../image/heading-shadow.svg);
  background-position: bottom center;
  color: #fff;
}
@media screen and (max-width: 600px) {
  .heading {
    height: 26.6vw;
  }
}
.heading__text {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #002368;
  white-space: nowrap;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-weight: 500;
  font-size: 3.2rem;
  height: 135px;
}
@media screen and (max-width: 600px) {
  .heading__text {
    font-size: 5.3vw;
    height: 22.5vw;
  }
}
.heading__text--benefits {
  padding-left: 120px;
}
@media screen and (max-width: 600px) {
  .heading__text--benefits {
    padding-left: 20vw;
  }
}
.heading__text--with-subheading {
  flex-direction: column;
}
.heading--plain {
  background: none;
  color: #002368;
  height: auto;
}
.heading--plain .heading__text {
  background-color: white;
  padding: 30px;
  height: auto;
}
@media screen and (max-width: 600px) {
  .heading--plain .heading__text {
    padding: 3.5vw 0 4vw 0;
  }
}
.heading__subheading {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-weight: 600;
  font-size: 2.2rem;
}
@media screen and (max-width: 600px) {
  .heading__subheading {
    font-size: 3.66vw;
  }
}

.benefits__wrapper {
  position: relative;
}
.benefits__product-wrapper {
  position: absolute;
  width: 332px;
  height: auto;
  left: -22%;
  top: -4%;
}
@media screen and (max-width: 600px) {
  .benefits__product-wrapper {
    width: 55.3vw;
  }
}
.benefits__product-wrapper img {
  width: 100%;
  height: auto;
}
.benefits__list {
  padding: 30px 0;
}
@media screen and (max-width: 600px) {
  .benefits__list {
    padding: 5vw 0;
  }
}
.benefits__item {
  position: relative;
}
.benefits__item--reverse .benefits__details {
  padding: 0 207.5px 0 0;
}
@media screen and (max-width: 600px) {
  .benefits__item--reverse .benefits__details {
    padding-right: 34.5vw;
  }
}
.benefits__item:not(:last-child) {
  margin-bottom: 80px;
}
@media screen and (max-width: 600px) {
  .benefits__item:not(:last-child) {
    margin-bottom: 13.3vw;
  }
}
.benefits__bubble {
  position: absolute;
  height: auto;
}
.benefits__bubble--1 {
  width: 273px;
  top: 0;
  left: 7%;
}
@media screen and (max-width: 600px) {
  .benefits__bubble--1 {
    width: 45.5vw;
  }
}
.benefits__bubble--2 {
  width: 350px;
  bottom: -10%;
  left: 48%;
}
@media screen and (max-width: 600px) {
  .benefits__bubble--2 {
    width: 58.3vw;
  }
}
.benefits__bubble--3 {
  width: 345px;
  left: -10%;
  top: -10%;
}
@media screen and (max-width: 600px) {
  .benefits__bubble--3 {
    width: 57.5vw;
  }
}
.benefits__bubble--4 {
  width: 325px;
  left: 50%;
  top: -15%;
}
@media screen and (max-width: 600px) {
  .benefits__bubble--4 {
    width: 54.1vw;
  }
}
.benefits__bubble--5 {
  width: 300px;
  top: -10%;
}
@media screen and (max-width: 600px) {
  .benefits__bubble--5 {
    width: 50vw;
  }
}
.benefits__bubble img {
  width: 100%;
  height: auto;
}
.benefits__details {
  margin: 0 auto;
  width: 415px;
  padding-left: 207.5px;
}
@media screen and (max-width: 600px) {
  .benefits__details {
    width: 69.1vw;
    padding-left: 34.5vw;
  }
}
.benefits__title {
  white-space: nowrap;
  font-weight: 600;
  color: #002368;
  margin-bottom: 15px;
  font-size: 2.4rem;
}
@media screen and (max-width: 600px) {
  .benefits__title {
    margin-bottom: 2.5vw;
    font-size: 4vw;
  }
}
.benefits__text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  line-height: 1.8em;
  font-weight: 500;
  font-size: 1.3rem;
}
@media screen and (max-width: 600px) {
  .benefits__text {
    font-size: 2.1vw;
  }
}

.pr__wrapper {
  display: flex;
  align-items: center;
  justify-content: stretch;
  margin: 0 auto;
  max-width: 505px;
  padding: 50px 0 45px;
}
@media screen and (max-width: 600px) {
  .pr__wrapper {
    max-width: 84.1vw;
    padding: 8.3vw 0 7.5vw;
  }
}
.pr__image-wrapper {
  background-color: #fff;
  border: 1px solid #D3D5D5;
  width: 230px;
  min-width: 230px;
  height: 230px;
  margin-right: 20px;
}
@media screen and (max-width: 600px) {
  .pr__image-wrapper {
    width: 38.3vw;
    min-width: 38.3vw;
    height: 38.3vw;
    margin-right: 3.3vw;
  }
}
.pr__text {
  font-weight: 500;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
  font-size: 1.3rem;
}
@media screen and (max-width: 600px) {
  .pr__text {
    font-size: 2.1vw;
  }
}

.trouble {
  padding-bottom: 60px;
}
@media screen and (max-width: 600px) {
  .trouble {
    padding-bottom: 7vw;
  }
}
.trouble__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trouble__item {
  padding-bottom: 10px;
}
@media screen and (max-width: 600px) {
  .trouble__item {
    font-size: 1.66vw;
  }
}
.trouble__numbering {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.2rem;
  color: #002368;
}
@media screen and (max-width: 600px) {
  .trouble__numbering {
    font-size: 3.66vw;
  }
}
.trouble__text {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-weight: 500;
  font-size: 1.8rem;
  color: #000;
}
@media screen and (max-width: 600px) {
  .trouble__text {
    font-size: 3vw;
  }
}

.customer-voice {
  padding: 70px 0 10px 0;
}
@media screen and (max-width: 600px) {
  .customer-voice {
    padding: 11.66vw 0 1.66vw 0;
  }
}
.customer-voice__list {
  margin: 0 auto;
  width: 467.47px;
  padding-top: 28px;
}
@media screen and (max-width: 600px) {
  .customer-voice__list {
    width: 77.91vw;
    padding-top: 4.66vw;
  }
}
.customer-voice__item {
  background: #fff url(../image/customer-voice-1.svg) no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  padding: 33px 42px;
  height: 173.54px;
  margin-bottom: 18px;
}
@media screen and (max-width: 600px) {
  .customer-voice__item {
    height: 28.92vw;
    padding: 5.5vw 7vw;
    margin-bottom: 3vw;
  }
}
.customer-voice__item:nth-child(2) {
  background: #fff url(../image/customer-voice-2.svg) no-repeat;
  background-position: center;
  background-size: contain;
}
.customer-voice__item:nth-child(3) {
  background: #fff url(../image/customer-voice-3.svg) no-repeat;
  background-position: center;
  background-size: contain;
}
.customer-voice__item:nth-child(4) {
  background: #fff url(../image/customer-voice-4.svg) no-repeat;
  background-position: center;
  background-size: contain;
}
.customer-voice__item:nth-child(5) {
  background: #fff url(../image/customer-voice-5.svg) no-repeat;
  background-position: center;
  background-size: contain;
}
.customer-voice__image {
  width: 100%;
}
.customer-voice__title {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 700;
  font-size: 2.6rem;
  color: #002368;
}
@media screen and (max-width: 600px) {
  .customer-voice__title {
    font-size: 4.33vw;
  }
}
.customer-voice__text {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  padding-top: 10px;
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
@media screen and (max-width: 600px) {
  .customer-voice__text {
    font-size: 2.16vw;
    padding-top: 1.66vw;
  }
}

.video-section__wrapper {
  height: 595px;
}
@media screen and (max-width: 600px) {
  .video-section__wrapper {
    height: 80.16vw;
  }
}

.qa {
  margin-top: 50px;
}
@media screen and (max-width: 600px) {
  .qa {
    font-size: 8.33vw;
  }
}
.qa__list {
  width: 463.96px;
  margin: 0 auto;
  margin-top: 42px;
}
@media screen and (max-width: 600px) {
  .qa__list {
    width: 77.32vw;
    margin-top: 4vw;
  }
}
.qa__item {
  border-bottom: 1px solid #BEBFBE;
  padding: 0 25px 25px 25px;
}
.qa__item:last-child {
  border-bottom: none;
}
@media screen and (max-width: 600px) {
  .qa__item {
    padding: 0 4.16vw 7.16vw 4.16vw;
  }
}
.qa__question {
  display: flex;
  align-items: center;
}
.qa__question-img {
  width: 19.24px;
}
.qa img {
  width: 100%;
}
.qa__question-text {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  color: #002368;
  padding-left: 15px;
}
@media screen and (max-width: 600px) {
  .qa__question-text {
    font-size: 4vw;
    padding-left: 2.5vw;
  }
}
.qa__answer {
  display: flex;
  align-items: self-start;
  margin-top: 20px;
}
@media screen and (max-width: 600px) {
  .qa__answer {
    margin-top: -3vw;
    align-items: end;
  }
}
.qa__answer-text {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-family: 500;
  font-size: 1.3rem;
  padding-left: 15px;
  width: 384.1px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
@media screen and (max-width: 600px) {
  .qa__answer-text {
    font-size: 2.16vw;
    padding-left: 2.5vw;
    width: 64.01vw;
  }
}

.sns {
  padding-bottom: 165px;
}
@media screen and (max-width: 600px) {
  .sns {
    padding-bottom: 27.5vw;
  }
}
.sns__list {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 55px 30px;
}
@media screen and (max-width: 600px) {
  .sns__list {
    padding: 9.16vw 5vw;
  }
}
.sns__item {
  align-items: center;
  justify-content: center;
  display: flex;
}
.sns__img {
  width: 287px;
}
@media screen and (max-width: 600px) {
  .sns__img {
    width: 47.83vw;
  }
}
.sns img {
  width: 100%;
}
.sns__logo {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 500;
  font-size: 3.7rem;
}
@media screen and (max-width: 600px) {
  .sns__logo {
    font-size: 6.16vw;
  }
}

.max-width {
  max-width: 600px;
  margin: 0 auto;
}

.p-lr-5 {
  padding: 0 5px;
}
@media screen and (max-width: 600px) {
  .p-lr-5 {
    padding: 0 0.8vw;
  }
}

.align-center {
  align-items: center;
}

.bold {
  font-weight: bold;
}

.section {
  margin-bottom: 20px;
}
@media screen and (max-width: 600px) {
  .section {
    margin-bottom: 3.3vw;
  }
}
