section.banner
  .banner__container
    img.banner__container-bg(src="/assets/image/banner.png")

    .banner__logo LOGO

    .banner__circle
      p 材料に
        br
        | 使用している
        br
        | 素材画像
    
    .banner__box
      img.banner__product(src="assets/image/banner-box.png" alt="product")

    p.banner__text-big からだにいいこと 
      br
      | はじめましょう。

    p.banner__text-small おいしいけど
      br
      | ○○が気になる。
      br
      | そんな方のために
      br
      | ○○○○と○○○○○を
      br
      | 考えて作りました。

    include crown.pug

