.customer-voice
  .arrow.arrow--circle
    img(src="/assets/image/arrow-bg-small.svg")
    p.arrow__text  
      span.arrow__text-big お客様の声
  
  .customer-voice__bulleted
    .customer-voice__img
  ul.customer-voice__list
    li.customer-voice__item
      p.customer-voice__text ここにお客様の声が入ります。
        br
        | 文章はダミーです。
    
    li.customer-voice__item
      p.customer-voice__text ここにお客様の声が入ります。
        br
        | 文章はダミーです。

    li.customer-voice__item
      p.customer-voice__text ここにお客様の声が入ります。
        br
        | 文章はダミーです。
    
    li.customer-voice__item
      p.customer-voice__text ここにお客様の声が入ります。
        br
        | 文章はダミーです。
    
    li.customer-voice__item
      p.customer-voice__text ここにお客様の声が入ります。
        br
        | 文章はダミーです。
      
