.faq
  .faq__title-container
    p.faq__title よくあるご質問
  
  ul.faq__list
    li.faq__item
      .faq__item-title
        .faq__play-btn
          img(src="assets/image/play-btn.svg")
        p.faq__item-title-text 質問タイトル。○○○○○○○○○○○○。
      p.faq__text これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○
    
    li.faq__item
      .faq__item-title
        .faq__play-btn
          img(src="assets/image/play-btn.svg")
        p.faq__item-title-text 質問タイトル。○○○○○○○○○○○○。
      p.faq__text これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○
    
    li.faq__item
      .faq__item-title
        .faq__play-btn
          img(src="assets/image/play-btn.svg")
        p.faq__item-title-text 質問タイトル。○○○○○○○○○○○○。
      p.faq__text これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○
    
    li.faq__item
      .faq__item-title
        .faq__play-btn
          img(src="assets/image/play-btn.svg")
        p.faq__item-title-text 質問タイトル。○○○○○○○○○○○○。
      p.faq__text これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○
    
    li.faq__item
      .faq__item-title
        .faq__play-btn
          img(src="assets/image/play-btn.svg")
        p.faq__item-title-text 質問タイトル。○○○○○○○○○○○○。
      p.faq__text これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○