.pr
  .pr__container
    img(src="assets/image/pr-img.png")

    .pr__content
      .pr__col1
        p.pr__title 会社PR欄
        .pr__white-box

      .pr__col2
        p.pr__col-text これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです○○○○○○○。○○○○○○○。これはコピーです○○○○○○○。これはコピーです。○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです