.sns
  .arrow.arrow--circle
    img(src="/assets/image/brown-arrow-down.svg")
    p.arrow__text  
      span.arrow__text-big SNS
      | でも
      span.arrow__text-big 「efs黒酢」
      | を
      span.arrow__text-big 大絶賛！

  ul.sns__list
    li.sns__item
      .sns__img
        img(src="assets/image/sns-box.svg")

    li.sns__item
      .sns__img
        img(src="assets/image/sns-box.svg")

    li.sns__item
      .sns__img
        img(src="assets/image/sns-box.svg")

    li.sns__item
      .sns__img
        img(src="assets/image/sns-box.svg")

    li.sns__item
      .sns__img
        img(src="assets/image/sns-box.svg")
    
    li.sns__item
      p.sns__text 他にも多くの方々に
        br
        | 喜ばれています。