.survey
  ul.survey__list
    li.survey__item
      p.survey__text お悩み内容○○○○○
        br
        | ○○○○○
    
    li.survey__item.survey__item--reverse
      p.survey__text お悩み内容○○○○○
        br
        | ○○○○○
    
    li.survey__item
      p.survey__text お悩み内容○○○○○
        br
        | ○○○○○
    
    li.survey__item.survey__item--reverse
      p.survey__text お悩み内容○○○○○
        br
        | ○○○○○
    
    li.survey__item
      p.survey__text お悩み内容○○○○○
        br
        | ○○○○○
