.video
  .video__yellow-ribbon
    img(src="/assets/image/yellow-ribbon.svg")
    p.video__yellow-ribbon-text 動画でご紹介タイトル
  
  p.video__text 自信を持っておすすめします。
    br
    | まずはお試しください！

  .video__img
    img(src="/assets/image/video-img.png")

