
<div class="circle">
  <div class="arrow arrow--circle"><img src="/assets/image/brown-arrow-down.svg"/>
    <p class="arrow__text">こんなに <span class="arrow__text-big">“違います！”</span><br/>願いを叶えるefs黒酢。</p>
  </div>
  <ul class="circle__list">
    <li class="circle__item">
      <div class="circle__content">
        <p class="circle__title">見出しが入ります。<br/>見出しが入ります。</p>
        <div class="circle__box"></div>
        <p class="circle__description">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです</p>
      </div>
    </li>
    <li class="circle__item circle__item--left">
      <div class="circle__content">
        <p class="circle__title">見出しが入ります。<br/>見出しが入ります。</p>
        <div class="circle__box"></div>
        <p class="circle__description">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです</p>
      </div>
    </li>
    <li class="circle__item">
      <div class="circle__content">
        <p class="circle__title">見出しが入ります。<br/>見出しが入ります。</p>
        <div class="circle__box"></div>
        <p class="circle__description">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです</p>
      </div>
    </li>
    <li class="circle__item circle__item--left">
      <div class="circle__content">
        <p class="circle__title">見出しが入ります。<br/>見出しが入ります。</p>
        <div class="circle__box"></div>
        <p class="circle__description">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです</p>
      </div>
    </li>
    <li class="circle__item circle__item--last">
      <div class="circle__content">
        <p class="circle__title">見出しが入ります。<br/>見出しが入ります。</p>
        <div class="circle__box"></div>
        <p class="circle__description">これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです○○○○○○○。これはコピーです。これはコピーです</p>
      </div>
    </li>
  </ul>
</div>