
<div class="crown">
  <ul class="crown__list">
    <li class="crown__item">
      <p class="crown__number">97.5<span class="crown__percentage">%</span></p>
      <p class="crown__ribbon-text">続けやすさ</p>
    </li>
    <li class="crown__item">
      <p class="crown__number">100<span class="crown__percentage">%</span></p>
      <p class="crown__ribbon-text">おすすめ度</p>
    </li>
    <li class="crown__item">
      <p class="crown__number">98.2<span class="crown__percentage">%</span></p>
      <p class="crown__ribbon-text">お客様満足度</p>
    </li>
  </ul>
</div>