
<section class="sns">
  <div class="sns__wrapper">
    <div class="heading">
      <h2 class="heading__text">SNSでも大絶賛！</h2>
    </div>
    <ul class="sns__list">
      <div class="sns__item">
        <div class="sns__img"><img src="assets/image/sns.png"/></div>
      </div>
      <div class="sns__item">
        <div class="sns__img"><img src="assets/image/sns.png"/></div>
      </div>
      <div class="sns__item">
        <div class="sns__img"><img src="assets/image/sns.png"/></div>
      </div>
      <div class="sns__item">
        <div class="sns__img"><img src="assets/image/sns.png"/></div>
      </div>
      <div class="sns__item">
        <div class="sns__img"><img src="assets/image/sns.png"/></div>
      </div>
      <div class="sns__item">
        <p class="sns__logo">LOGO</p>
      </div>
    </ul>
  </div>
</section>