@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

@import 'settings/_settings.scss';
@import 'generic/_normalize.scss';
@import 'elements/_elements.scss';

// components
@import 'components/_banner.scss';
@import 'components/_header.scss';
@import 'components/_crown.scss';
@import 'components/_campaign.scss';
@import 'components/_arrow.scss';
@import 'components/_survey.scss';
@import 'components/_circle.scss';
@import 'components/_customer-voice.scss';
@import 'components/_video.scss';
@import 'components/_sns.scss';
@import 'components/_faq.scss';
@import 'components/_pr.scss';
@import 'components/_footer.scss';

//helper
@import '_helper.scss';